body{
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    text-align: center;
}

.jumbotron{
    margin: 0 auto;
    border: solid 1px gainsboro;
    height: 50%;
    width: 50%;
    background-color: white;
    min-width: 350px;
}

.form-control{
    width: 35%;
}

.btn{
    margin-top: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.label-bottom{
    font-size: 10px;
    padding-top: 5px;
}

.col-padding{
    padding-left: 0;
}

#well{
    display: none;
}

.glyphicon{
    font-size: 25px;
}

#settings{
    padding-bottom: 0;
    padding-top: 2px;
}

.settingsWindow{
    margin: 15px 0 0 0;
    font-size: 14px;
    padding: 5px;
}

#settingsWindow{
    display: block;
}

.block{
    display:block;
}

.formLength{
    width: 30%;
}

.form-row{
    display: flex;
}

